{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}


{% block title %}
    : Starlight Learning
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/images/Logo.png" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav me-auto mr-5 mt-2 mt-lg-6">
                  <a class="nav-item nav-link active" href="#">Dashboard <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="#">Progress</a>
                  <a class="nav-item nav-link" href="/account">Account</a>
                </div>
                <div class="sign-out my-lg-6"><a href="/logout">Log Out</a></div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="greetings"><div class="greetings-chinese">你好</div>, {{name}}! </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-content">
                    Your Decks
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col mb-4">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/hsk-1.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="hsk-1-text" href="/learn/hsk-1">HSK 1 </a></h5>
                      <p class="card-text">Learn simple words and phrases. Beginner lesson</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: <></small>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/hsk-2.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="hsk-2-text" href="/learn/hsk-2">HSK 2</a></h5>
                      <p class="card-text">Learn communicate simply and directly on daily topics you are familiar with in Chinese.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: <></small>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/hsk-3.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="hsk-3-text" href="/learn/hsk-3">HSK 3</a></h5>
                      <p class="card-text">Learn to conduct basic communication in daily life, study and work, so you can manage most communication when traveling in China.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: <></small>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/hsk-4.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="hsk-4-text" href="/learn/hsk-4">HSK 4</a></h5>
                      <p class="card-text">Learn to discuss a relatively wide range of topics in Chinese so you can communicate with native Chinese speakers fluently in common situations.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: <></small>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/hsk-5.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="hsk-5-text" href="/learn/hsk-5">HSK 5 </a></h5>
                      <p class="card-text">Learn to read Chinese newspapers and magazines, watch Chinese films and TVs, and write and deliver a full speech in Chinese.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: <></small>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/hsk-6.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="hsk-6-text" href="/learn/hsk-6">HSK 6</a></h5>
                      <p class="card-text">Learn advance Chinese so you can understand what you read and hear, and express yourself smoothly in written and oral Chinese.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: <></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

