{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/home.css" rel="stylesheet">
    <script src="/static/js/home.js"></script>
{% endblock %}


{% block title %}
    : Starlight Learning
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="/static/images/Logo.png" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav me-auto mr-5 mt-2 mt-lg-6">
                  <a class="nav-item nav-link active" href="#">Dashboard <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="#">Progress</a>
                  <a class="nav-item nav-link" href="/account">Account</a>
                </div>
                <div class="sign-out my-lg-6"><a href="/logout">Log Out</a></div>
            </div>
        </div>
    </nav>
    <div class="containe mx-5">
        <div class="row mt-2">
            <div class="col-lg-5">
                <div class="greetings"><div class="greetings-chinese">你好</div>, {{name}}! </div>
            </div>
            <div class="col-lg-7 mt-1">
                <div class="search-bar align-items-center" id="search_bar">
                    <form class="form-search" action="/search" method="POST">
                        <input class="input-search" type="text" name="query" placeholder="Search Deck" >
                        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-12">
                <div class="heading-content heading-deck">
                    <i class="fas fa-list-ul"></i> Your Decks
                </div>
            </div>
        </div>
        {% if decks_info|length != 0 %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for deck in decks_info %}
            <div class="col mb-4 card-col">
                <div class="card card-progress ml-2 h-100">
                    <img class="card-img-top" src="/static/images/{{ deck.banner }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a class="{{deck.database_id}}-text" href="/course/{{deck.database_id}}">{{deck.name}}</a></h5>
                      <p class="card-text">{{deck.desc}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Your Progress: 
                            {% set prog = deck.mastered/deck.total_words*100 %}
                            <div class="progress">
                                <div class="progress-bar 
                                    {% if prog < 30 %}
                                        bg-danger
                                    {% elif prog >= 30 and prog < 50 %}
                                        bg-warning 
                                    {% elif prog >= 50 and prog < 80 %} 
                                        bg-primary 
                                    {% else %} 
                                        bg-success 
                                    {% endif %}
                                    " role="progressbar" style="width: {{prog}}%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {{deck.mastered}} / {{deck.total_words}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row">
            <div class="col-12">
                You haven't learnt anything. 
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

