{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}


{% block title %}
    : Learn Mandarin
{% endblock %}

{% block main %}

        <div class="container">
            <div class="row align-middle">
                <div class="col-lg-6 banner">
                    <img src="/static/images/Index_Banner.png" width="100%">
                </div>
                <div class="col-lg-6 right-side">
                    <img src="/static/images/logo.png" height="50px">
                    <div class="heading">
                        <b>Starlight Learning</b>
                    </div>
                    <div class="subheading">
                        <b>Learn Mandarin so easy. Sign up now!</b>
                    </div>

                    <div class="button-signup"><a href="/signup" class="sign-up">Sign Up</a></div>
                    <div class="button-login"><a href="/login" class="sign-in">Log In</a></div>

                </div>
            </div>
        </div>

{% endblock %}
